
.schedule-header {
  margin-top: 8px;
  margin-left: 12px;
  width: calc(95% - 12px);
  display: flex;
  align-items: center;
  flex-direction: row;
}

.schedule-header h3 {
  width: fit-content;
  flex: 1 1 auto;
  margin: 0;
  font-size: 17px;
}
