$medium: 700px;

.homepage-container {
  height: calc(100% - 64px);
  display: flex;
  justify-content: center;
  align-content: center;
}

.grid-container {
  margin-left: 9px;
  margin-right: 9px;
  display: grid;
  grid-auto-rows: 1fr;
  overflow-y: auto;
}

.grid-container--fill {
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  grid-template-areas:
          "desktop-card desktop-card desktop-card"
          "desktop-card messages-card-card desktop-card"
          "desktop-card desktop-card desktop-card";
}

.user-info {
  display: flex;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  flex-direction: column;
  align-content: center;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  @media screen and (min-width: $medium) {
    flex: 1;
  }
}

.profile-image {
  border-radius: 50%;
  height: 80px;
  width: 80px;
  object-fit: cover;
  margin: 3px;
}

.user-info h1, h2 h3 {
  flex: 0;
  margin: 0;
  width: fit-content;
}

.user-info h2 {
  font-size: 17px;
}

mat-list {
  flex-grow: 1;
  overflow: auto;
}


.list-container {
  display: flex;
  flex-direction: column;
}

.date-box {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.date-box h2 {
  width: auto;
  margin: 0;
}
.date-box mat-icon {
  margin-right: 3px;
}

.mobile-card {
  margin-left: 16px;
  margin-right: 16px;
  width: 100%;
  overflow: auto;
  display: flex;
  flex-direction: row;
  @media screen and (max-width: $medium) {
    flex-direction: column;
    margin-left: 5px;
    margin-right: 5px;
  }
}

.section {
  flex: 1;
  margin-left: 3px;
  @media screen and (max-width: $medium) {
    margin: 0;

  }
}
