@import "../common/card";
@import "../../common/messages";

.schedule-header {
  margin-left: 6px;
  width: calc(95% - 12px);
  display: flex;
  align-items: center;
  flex-direction: row;
}

.schedule-card {
  grid-column: auto / span 2;
  grid-row: auto / span 2;
  height: 250px;
  overflow-y: auto;
}

.schedule-header h3 {
  width: fit-content;
  flex: 1 1 auto;
  margin: 0;
  font-size: 17px;
}

.schedule_list {
  padding-top: 0;
}
