@import "../../icon_fix";
@import '~@angular/material/theming';
@import '../../../theme/colorpalette';
@import '../../../theme/wilmaplus_theme';

.client {
  width: 100%;
  height: 100%;
  overflow-y: auto;
}


.sidenav-fixed {
  width: 300px;
}

@media screen and (min-width: 800px) {
  .sidenav, .sidenav *, .wilmaplus-drawer, mat-drawer-container, mat-drawer-container *,mat-drawer, mat-drawer *, .sidenav .header, .sidenav .header *, #drawer, #drawer * {
    transition: all .2s ease !important;
  }
}

.compose-box {
  display: flex;
  flex-direction: row;
  margin: 4px;
  align-items: center;
}

.compose-box > * {
  margin: 4px;
}


.compose-box > mat-form-field {
  width: 100%;
}

.sidenav .header {
  min-height: 150px;
  @include theme(background-color, primary, main);
  @include themeContrast(color, primary, main);
  padding: 32px 32px 7px;
  transition: all .2s ease;
}

.sidenav .header h2 {
  margin: 3px 3px -3px;
}

.sidenav .header h3 {
  margin-left: 3px;
  margin-right: 3px;
}


.sidenav .header .profile-image {
  border-radius: 50%;
  height: 60px;
  width: 60px;
  object-fit: cover;
  margin: 3px;
}

.sidenav .header .actions {
  display: flex;
  justify-content: flex-end;
  align-content: flex-end;
}


$medium: 700px;

.viewer-container {
  height: calc(100% - 64px);
  display: flex;
  overflow-y: auto;
  justify-content: center;
}

.chat {
  max-width: 950px;
  width: 100%;
  margin: 12px;
  display: flex;
  flex-direction: column;
}

.chat > mat-list {
  flex: 1 1 auto;
}

.message-container {
  height: calc(100% - 64px);
  display: flex;
  justify-content: center;
  align-content: center;
  overflow-y: auto;
}

.folder-header {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.loader {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

.loader mat-card {
  height: 60px;
  width: 60px;
}

.folder-header h2 {
  width: auto;
  margin: 0;
}
.folder-header mat-icon {
  margin-right: 3px;
}

.wide-card {
  margin-left: 16px;
  margin-right: 16px;
  width: 100%;
  overflow: auto;
  display: flex;
  flex-direction: row;
  @media screen and (max-width: $medium) {
    flex-direction: column;
    margin-left: 5px;
    margin-right: 5px;
  }
}
